<po-page-default p-title="Dashboard" [p-breadcrumb]="breadcrumb">
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-primary-label="Details"
        p-title="Total checking account"
    >
    <div class="po-font-subtitle po-text-center">$2.818,29</div>
    <div class="po-text-center">Last updated at 08:20</div>
  </po-widget>
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-primary-label="Details"
        p-title="Total checking account"
    >
    <div class="po-font-subtitle po-text-center">$2.818,29</div>
    <div class="po-text-center">Last updated at 08:20</div>
  </po-widget>
    <po-widget
    class="po-lg-3 po-mt-2"
    [p-height]="200"
    p-primary-label="Details"
    p-title="Total checking account"
    >
    <div class="po-font-subtitle po-text-center">$2.818,29</div>
    <div class="po-text-center">Last updated at 08:20</div>
  </po-widget>
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-primary-label="Details"
        p-title="Total checking account"
    >
    <div class="po-font-subtitle po-text-center">$2.818,29</div>
    <div class="po-text-center">Last updated at 08:20</div>
  </po-widget>

<div class="po-row">
</div>

</po-page-default>
