<po-page-default p-title="Dashboard" [p-breadcrumb]="breadcrumb">
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-title="Total de Produtos"
    >
    <div class="po-font-title po-text-center">{{totalProdutos}}</div>
  </po-widget>
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-title="Total de categorias"
    >
    <div class="po-font-title po-text-center">{{totalQuantidades}}</div>
  </po-widget>
    <po-widget
    class="po-lg-3 po-mt-2"
    [p-height]="200"
    p-title="Maior quantidade em estoque"
    >
    <div class="po-font-subtitle po-text-center">{{maiorQuantidade}}</div>
    <div class="po-text-center">{{quantMaior}}</div>
  </po-widget>
    <po-widget
        class="po-lg-3 po-mt-2"
        [p-height]="200"
        p-title="Menor quantidade em estoque"
    >
    <div class="po-font-subtitle po-text-center">{{menorQuantidade}}</div>
    <div class="po-text-center">{{quantMenor}}</div>
  </po-widget>

<div class="po-row">
    <po-chart
      class="po-md-7 po-mt-2"
      p-title="Quantiade de produtos em estoque"
      [p-options]="optionsColumn"
      [p-series]="produtoData"
      [p-categories]="categoriesColumn"
    >
    </po-chart>
    <po-chart
      p-title="Distribuição de categorias"
      class="po-md-5 po-mt-2"
      [p-series]="categoriaData"
      [p-type]="coffeConsumingChartType"
    >
    </po-chart>
</div>

</po-page-default>
