<div class="po-row">
  <form [formGroup]="form">
    <po-modal #modalProduto p-title="Adicionar Produto" [p-primary-action]="confirm" [p-secondary-action]="close">
      <po-input
        p-label="Titulo"
        formControlName="titulo"
        class="po-sm-6">
      </po-input>

      <po-input
        p-label="Valor"
        formControlName="valor"
        class="po-sm-6">
      </po-input>

      <po-input
        p-label="Quantidade"
        formControlName="quantidade"
        class="po-sm-6">
      </po-input>

      <po-datepicker
        p-label="Data de Entrada"
        formControlName="dataEntrada"
        class="po-sm-6">
      </po-datepicker>

      <po-combo
        name="multiselect"
        formControlName="categoriaId"
        p-label="Adicionais"
        [p-options]="categorias"
        class="po-md-12"
        [p-optional]="true">
      </po-combo>

      <po-divider class="po-md-12"></po-divider>
      <div class="po-sm-12 po-pb-1">Informações para alerta de estoque</div>
      <po-input
        formControlName="quantidadeMin"
        p-label="Quantidade minima"
        class="po-sm-6">
      </po-input>

      <po-input
        formControlName="quantidadeMax"
        p-label="Quantidade Máxima"
        class="po-sm-6">
      </po-input>
    </po-modal>

    <po-button class="po-mt-1" p-label="Novo Produto" p-kind="primary" (p-click)="modalProduto.open()"></po-button>
    <po-input
      class="po-md-2 po-mb-2 po-offset-xl-9"
      p-icon="po-icon-search"
      p-placeholder="Nome da categoria">
    </po-input>
  </form>
</div>

<div>
  <po-table
    #table
    p-container="shadow"
    class="po-mt-2"
    [p-columns]="columns"
    [p-items]="produtos"
    [p-actions]="actions"
  >
  </po-table>
</div>

